*.bin
/Ace-Turf-Backend/.vs
/Ace-Turf-Backend/bin
/Ace-Turf-Backend/obj
Ace-Turf-Backend/Ace-Turf-Backend.csproj.user
Ace-Turf-Backend/Ace-Turf-Backend.csproj.user
Ace-Turf-Backend/Ace-Turf-Backend.csproj.user
Ace-Turf-Backend/Ace-Turf-Backend.csproj.user
Ace-Turf-Backend/Ace-Turf-Backend.csproj.user
